@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-body: #f37c7e;
  --color-heading: #000000;
  --color-base: #eea5a6;
  --color-base2: #feefe6;
  --color-base3: #060348;
  --color-brand: #000000;
  --color-brand2: #f6dcb6eb;
  --sidbar-width: 250px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-brand);
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-heading);
  font-weight: 700;
}

h6 {
  color: var(--color-body);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

.text-brand {
  color: var(--color-body);
}

.bg-base {
  background-color: var(--color-brand2);
}

.about-base {
  background-color: var(--color-brand2);
  height: 390px;
  width: 700px;
}

.exp-intro-base {
  background-color: var(--color-brand2);
  height: 550px;
  width: 700px;
}

.img-school-container {
  margin-top: 40px;
  margin-left: 90px;
}

.img-container {
  margin-top: 40px;
  margin-left: 50px;
}

.img-container-doh {
  margin-top: 20px;
  margin-left: 50px;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-body);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: var(--color-body);
  color: var(--color-brand);
}

.icon-container {
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  background-color: var(--color-base2);
}
.navbar .nav-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #f65c5f;
}

.navbar .nav-link:hover {
  color: var(--color-brand);
}

.navbar .nav-link.active {
  color: var(--color-brand);
}

@media (min-width: 1000px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(
        rgba(254, 239, 230, 0.4),
        rgba(254, 239, 230, 0.4)
      ),
      url(../images/sidebar-img.jpg);
    background-size: cover;
    background-position: center;
  }
  .navbar-brand img {
    border: 8px solid var(--color-body);
  }

  /* CONTENT WRAPPER */
  #content-wrapper {
    padding-left: var(--sidbar-width);
  }
}

/* BUTTON */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}
.btn:hover {
  color: var(--color-brand);
}

.btn-brand {
  background-color: var(--color-body);
  border-color: var(--color-body);
  color: var(--color-base2);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-base);
  color: var(--color-base2);
  border-color: var(--color-base);
}

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

.row-about {
  display: flex;
  flex-direction: row;
}

.skills-box {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: var(--color-base3);
  color: var(--color-body);
}

.skills-box i {
  margin-right: 8px; /* Adjust the spacing as needed */
}

.skills-box h6 {
  margin-bottom: 0;
  margin-left: 8px; /* Adjust the spacing as needed */
}

.gallery {
  background-color: var(--color-brand2);
  padding: 30px 0;
}

.gallery-game {
  padding: 5px 0;
}

img {
  width: 100%;
}

.gallery img {
  background-color: azure;
  padding: 5px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bg-caption {
  background-color: rgba(243, 202, 203, 0.934);
}

.img-pd-container {
  margin-top: 10px;
  margin-right: 50px;
}

.bg-base-modal {
  background-color: rgba(247, 239, 230, 0.982);
}

.bg-base-sa {
  background-color: white;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container img {
  display: block;
  margin: 0 auto;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
}

.contact-box {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-inputs {
  width: 700px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #f37c7e;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #f65c5f;
}

.contact-inputs::placeholder {
  color: #eea5a6;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #f37c7e, #d367bf);
  cursor: pointer;
}
